.optionList{
  
display: flex;
flex-direction: column;
border-radius: 8px;
background-color: white;
height: 140px;
width: 154px;
margin-top: 5px;
margin-bottom: 20px;
margin-left: 10px;
padding-top: 4px;
padding-bottom: 4px;
}

.optionList{
    -webkit-box-shadow: 10px -1px 50px 0px rgba(235,235,235,1);
-moz-box-shadow: 10px -1px 50px 0px rgba(235,235,235,1);
box-shadow: 10px -1px 50px 0px rgba(235,235,235,1);
}

.option{
    width:150px;
    height:40px;
    background-color:#ffffff;
    color: rgb(52, 52, 160);
    margin-left:2px;
    text-align: center;
    vertical-align: middle;
    border-style: none;
    
}
.optionList > button:nth-child(1){
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

.optionList > button:last-child{
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
.option:hover{
    background-color:#F5F5F5;
}

.option:focus{
    outline: none;
}
.optionIcon{
    width: 15%;
    margin-right: 10px;
    
}
.searchBtn{
    width:150px;
    height:40px;
    margin-left:10px;
    border-width: 1px;
    border-style: solid;
    border-color:black;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: white;
}

.container{
   position:absolute;
 
}